body {
    background-color: #0000;
}
h1 {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.console-body{
    background-color: black;
}
.console-text{
    color: white;
    font-family: 'Jetbrains Mono', monospace;
}
.next-page {
    position: fixed;
    bottom: 0;
}
.redirect-page{
    position: fixed;
    bottom: 0;
    right: 10px;
}
.header {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
}
.border{
   --border-width: 15px;


  display: flex;
  width: auto;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  background: #111;
  border-radius: var(--border-width);
  -webkit-filter: blur(0.2px);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(120deg, #FFFFFF, #D3D3D3);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

.submit {
 color: #fff;
 font-size: 0;
 width: 135px;
 height: 60px;
 border: none;
 margin: 0;
 padding: 0;
 background: #0c0 url(image) 0 0 no-repeat;
}






/* INPUT AREA ВЗЯТО ИЗ TEMPLATES */




input,
span,
label {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  border: none;
  font-size: 22px;

}

textarea:focus,
input:focus {
  outline: 0;
}
/* Question */

input.question {
  display: flex;
  font-size: 48px;
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */

}
/* Underline and Placeholder */

input.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 0%;
  border-top: 1px solid red;
  -webkit-transition: width 0.4s ease;
  transition: width 0.5s ease;
}

input.question:focus + label {
  width: 80%;
}

input.question:focus,
input.question:valid {
  padding-top: 35px;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 35px;
}

input.question:focus + label > span,
input.question:valid + label > span {
  top: -100px;
  font-size: 22px;
  color: #333;
}

input.question:valid + label{
  border-color: green;
}

input.question:invalid {
  box-shadow: none;
}

input.question + label > span{
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8F8F8F;
  font-size: 48px;
  top: -66px;
  left: 0px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input[type="submit"] {
  -webkit-transition: opacity 1s ease, background .2s ease;
  transition: opacity 0.5s ease, background 0.5s ease;
  display: block;
  opacity:5;
     border-radius: 15px;
  margin: 10px 0 0 0;
  padding: 10px;
  cursor: pointer;
  value-color: #0000;
}

input[type="submit"]:hover {
   border-radius: 15px;
  background: #0000;
}

input[type="submit"]:active {
    border-radius: 15px;
  background: #333;
}

input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
  -webkit-animation: appear 0.2s forwards;
  animation: appear 0.2s forwards;за
}

input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
  display: none;
}

@-webkit-keyframes appear {
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}






